{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
    <h1>Bienvenue !</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Tirer</button>
{{ form_end(form) }}
{% endblock %}
