{% extends 'base.html.twig' %}

{% block title %}Jeu{% endblock %}

{% block body %}
    <h1>Jeu</h1>
    
    <a class="btn btn-success" href={{ path("game_init") }}>Nouvelle partie</a>
    <a class="btn btn-warning" href={{ path("game_index") }}>Voir le jeu complet mélangé</a>
        
    <div class="d-flex flex-row justify-content-around my-3 py-1">
        <span>Bon ordre des couleurs :
            {% include 'game/_colorsList.html.twig' with  {'colors': goodOrderColors} %}
        </span>
        <span>Bon ordre des valeurs :
            {% include 'game/_valuesList.html.twig' with  {'values': goodOrderValues} %}
        </span>
    </div>
    {% include 'game/_hand.html.twig' with  {'cardsTemplate': cardsTemplate, 'cards': app.session.get('orderedResult')} %}

    <div class="d-flex flex-row justify-content-around my-3 py-1">
        <span>Mélange des couleurs :
            {% include 'game/_colorsList.html.twig' with {'colors': colors} %}
        </span>
        <span>Mélange des valeurs :
            {% include 'game/_valuesList.html.twig' with  {'values': values} %}
        </span>
    </div>
    {% include 'game/_hand.html.twig' with  {'cardsTemplate': cardsTemplate, 'cards': app.session.get('result')} %}
    
{% endblock %}

