.cards-bg {
    z-index: 10;
    height:120px;
    width:80px;
    background-color: antiquewhite;
}

.cards {
    z-index: 100;
    height:120px;
    width:80px;
    background-image: url("../images/real-cards.png");}

.S2{background-position:calc(1*-80px) 0;}
.S3{background-position:calc(2*-80px) 0;}
.S4{background-position:calc(3*-80px) 0;}
.S5{background-position:calc(4*-80px) 0;}
.S6{background-position:calc(5*-80px) 0;}
.S7{background-position:calc(6*-80px) 0;}
.S8{background-position:calc(7*-80px) 0;}
.S9{background-position:calc(8*-80px) 0;}
.ST{background-position:calc(9*-80px) 0;}
.SJ{background-position:calc(10*-80px) 0;}
.SQ{background-position:calc(11*-80px) 0;}
.SK{background-position:calc(12*-80px) 0;}
.SA{background-position:calc(0*-80px) 0;}
.H2{background-position:calc(1*-80px) -120px;}
.H3{background-position:calc(2*-80px) -120px;}
.H4{background-position:calc(3*-80px) -120px;}
.H5{background-position:calc(4*-80px) -120px;}
.H6{background-position:calc(5*-80px) -120px;}
.H7{background-position:calc(6*-80px) -120px;}
.H8{background-position:calc(7*-80px) -120px;}
.H9{background-position:calc(8*-80px) -120px;}
.HT{background-position:calc(9*-80px) -120px;}
.HJ{background-position:calc(10*-80px) -120px;}
.HQ{background-position:calc(11*-80px) -120px;}
.HK{background-position:calc(12*-80px) -120px;}
.HA{background-position:calc(0*-80px) -120px;}
.C2{background-position:calc(1*-80px) -240px;}
.C3{background-position:calc(2*-80px) -240px;}
.C4{background-position:calc(3*-80px) -240px;}
.C5{background-position:calc(4*-80px) -240px;}
.C6{background-position:calc(5*-80px) -240px;}
.C7{background-position:calc(6*-80px) -240px;}
.C8{background-position:calc(7*-80px) -240px;}
.C9{background-position:calc(8*-80px) -240px;}
.CT{background-position:calc(9*-80px) -240px;}
.CJ{background-position:calc(10*-80px) -240px;}
.CQ{background-position:calc(11*-80px) -240px;}
.CK{background-position:calc(12*-80px) -240px;}
.CA{background-position:calc(0*-80px) -240px;}
.D2{background-position:calc(1*-80px) -360px;}
.D3{background-position:calc(2*-80px) -360px;}
.D4{background-position:calc(3*-80px) -360px;}
.D5{background-position:calc(4*-80px) -360px;}
.D6{background-position:calc(5*-80px) -360px;}
.D7{background-position:calc(6*-80px) -360px;}
.D8{background-position:calc(7*-80px) -360px;}
.D9{background-position:calc(8*-80px) -360px;}
.DT{background-position:calc(9*-80px) -360px;}
.DJ{background-position:calc(10*-80px) -360px;}
.DQ{background-position:calc(11*-80px) -360px;}
.DK{background-position:calc(12*-80px) -360px;}
.DA{background-position:calc(0*-80px) -360px;}